<div class="container" style="width: 80%;">
<div class="container" style="text-align: center">
  <h4>As we Celebrate our 23rd Anniversary, we welcome you
    to carfactoryoutlet.com, awarded Top 50 Independent
    Retailer in the Nation by Auto Dealer Monthly for 3
    Consecutive Years! To accomplish this for 1 year is
    very difficult enough, and a certain amount of luck
    plays a role. But you have to be more than lucky to
    accomplish this feat for 3 consecutive years; you must
    have earned the trust of the community!</h4>
  <button md-button>Click me!</button>
</div>
</div>
