<div class="container" style="width: 50%;">
<label for="table">Selected car</label>
<table class="table table-bordered" id  = "table">
  <thead>
  <tr>
    <th>Property</th>
    <th>Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Id</td>
    <td>{{car?.carId}}</td>
  </tr>
  <tr>
    <td>Brand</td>
    <td>{{car?.brand}}</td>
  </tr>
  <tr>
    <td>Model</td>
    <td> {{car?.model}}</td>
  </tr>
  <tr>
    <td>Created date</td>
    <td>{{car?.createdDate}}</td>
  </tr>
  <tr>
    <td>Color</td>
    <td>{{car?.color}}</td>
  </tr>
  <tr>
    <td>Price</td>
    <td>{{car?.price}}</td>
  </tr>
  </tbody>
</table>
</div>
